.main-logo {
  width: 25%;
}

.story {
  height: 360px;
  width: 330px;
}

.story-img {
  width: 130px;
  height: 100px;
  float: left;
}

.top-box {
  height: 400px;
  width: 400px;
}

.multi-box {
  height: 800px;
  width: 400px;
}

.box {
  background-color: green;
  width: 100%;
  height: 200px;
}

.box-article {
  width: 290px;
  height: 387px;

}

.opnion-big-box {
  background: yellow;
  width: 370px;
  height: 380px;
}

.opnion-small-box {
  background: yellow;
  width: 280px;
  height: 200px;
}

.bottom-box {
  margin-top: 10px;
  width: 400px;
  height: 300px;
  background-color: blue;
}

.opnion-avatar {
  float: left;
  height: 64px;
}

.news-div {
  background-color: pink;
  width: 500px;
  height: 300px;
}

.news-div .left-img {
float: left;
}

 .sign-img {
  height: 100%;
  float: left;
}
